* {
  margin: 0;
  padding: 0;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* полупрозрачный чёрный */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s;
  z-index: 2;
  /* чуть ниже меню (меню у нас z-index:3) */
}

/* активный (видимый) оверлей */
#overlay.active {
  opacity: 1;
  visibility: visible;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body {
  font-family: "Inter", sans-serif;
  background: #fafafa;
}

.burger {
  white-space: nowrap;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: 7;
  transition: all 0.5s ease;
  overflow: hidden;
}

/* общий стиль кнопки-иконки */
.icon-button {
  width: 40px;
  /* фиксированный размер */
  height: 40px;
  display: flex;
  /* центрируем вложенное img */
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  /* делаем круг */
  cursor: pointer;
  transition: background 0.3s;
}

/* фон по наведению */
.icon-button:hover {
  background: rgba(0, 0, 0, 0.1);
  /* легкий серый */
}

/* саму картинку ограничиваем размерами */
.icon-button img {
  width: 20px;
  /* подберите под свой дизайн */
  height: 20px;
  display: block;
}

#cart_icon:hover {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.burger.open {
  width: 20%;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 15px;
}

.list a {
  color: rgb(60, 60, 60);
  text-decoration: none;
}

.other-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.other-links a {
  text-decoration: none;
  color: rgb(60, 60, 60);
}

.phone_number {
  color: black;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  gap: 5px;
}

header {
  position: relative;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  color: white;
  padding-left: 80px;
  padding-right: 100px;
}

header span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

header span,
.logo h1 {
  font-family: "Sulphur Point", sans-serif;
  font-weight: 400;
  font-size: 25px;
}

.icons {
  display: flex;
}

.icons img {
  width: 25px;
  height: 25px;
}

.container {
  background-image: url(./images/poshram.webp);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
}

.container .content {
  position: absolute;
  top: 30%;
  left: 5%;
  width: 50%;
}

.content h1 {
  font-family: "Sulphur Point", sans-serif;
  font-weight: 545;
  font-size: 80px;
  color: white;
  line-height: 0.9;
}

.content p {
  font-size: 20px;
  color: white;
  margin-top: 20px;
  word-spacing: 3px;
}

.content button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  background-color: white;
  border-radius: 5px;
}

.content button,
a {
  text-decoration: none;
  color: black;
}

.grid {
  position: absolute;
  top: 740px;
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: 300px 300px;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}
.box3 {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.box4 {
  grid-column: 3 / 5;
  grid-row: 1 / 3;
}
.all{
  display: flex;
  justify-content: center;
}
.box1 h2, .box2 h2, .box3 h2, .box4 h2 {
  position: relative;
  bottom: 53%;
  left: 30%;
  z-index: 99;
  color: white;
}
.preview-section{
  position: relative;
  top: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.preview-section h2{
  position: relative;
  top: 650px;
  text-align: center;
}

#previewContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin: 40px 10px;
  
}

.card {
  transition: transform 0.3s ease;
}
.card-img-wrap img{
  width: 280px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
}

.card:hover {
  transform: translateY(-5px);
}
.bot{
  display: flex;
  justify-content: space-between;
}
.category {
  display: flex;
  gap: 10px;
  justify-content: center;
  position: relative;
  top: 680px;
}
.category h3{
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.bot button{
  grid-column: 2/3;
  grid-row: 1/3;
  align-self: center;
  justify-self: end;
  padding: 8px 16px;
  background-color: #0fb300;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 10px;
  transition: 0.3s;
}


.order-now:hover {
  background-color: #0d9001;
}
.category h3.active {
  text-decoration: underline;
}
.card {
  position: relative;
  width: 100%;
  transition: transform 0.2s;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.card-img-wrap {
  position: relative;
}

.heart-icon {
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.heart-icon:hover {
  opacity: 1;
}

.card:hover {
  transform: scale(1.03);
}

.all-products-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 6px;
}

.card p {
  font-size: 15px;
  color: rgb(87, 87, 87);
}

.card p {
  margin: 4px 0;
}

.price {
  color: #303030;
  font-weight: bold;
  margin: 0;
}

#showMoreBtn{
  position: relative;
  top: 1180px;
  cursor: pointer;
}

.also_about{
  height: 25vh;
  width: 100vw;
  background-color: rgb(255, 229, 229);
  position: relative;
  top: 1950px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  justify-content: center;
  align-items: center;
}


